* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}

body {
    background-color: #f9fafb;
}

.section1 {
    padding: 10px 0px 10px 80px;
    /* top right bottom left */
    background-color: rgb(235, 242, 255);
    min-height: 600px;
    margin-bottom: 200px;
}

nav {
    display: flex;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    list-style: none;
    margin-right: 50px;
}

nav img {
    background-color: rgb(255, 183, 0);
    border-radius: 50%;
    padding: 5px;
}

nav div {
    display: flex;
    align-items: center;
}

.kinky {
    /* margin-left: 100px; */
    gap: 0.5em;
}

nav ul {
    display: flex;
    gap: 1em;
    align-items: center;
    list-style: none;
    font-size: medium;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
}

ul li a {
    list-style: none;
    font-family: inter, sans-serif;
}

nav button {
    background-color: rgb(35, 116, 238);
    border-radius: 50px;
    width: 130px;
    height: 30px;
    border: none;
    float: right;
}

button h5 {
    color: white;
}

.modern {
    margin-top: 40px;
    margin-right: 50px;
}

.education {
    margin: 30px 0px 30px 0px;
    /* top right bottom left */
    color: #063852;
    font-family: 'poppins';
    font-weight: 700;
}

.education>span {
    color: #2374ee;
    font-weight: 700;
    letter-spacing: -0.64px;
}

.showcase {
    margin: 30px 0px 30px 0px;
}

.trial-btn {
    background-color: rgb(35, 116, 238);
    border-radius: 50px;
    /* width: 80px; */
    /* height: 30px; */
    border: none;
    /* display: flex; */
    box-shadow: 1px 4px 1px 1px rgb(183, 222, 245);
}

.trial-btn span {
    color: white;
    padding: 15px 20px 15px 20px;
    /* top right bottom left  */
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.play {
    display: flex;
    justify-content: space-between;
    margin-left: 4px;
}

.play>p {
    margin-top: 1px;
    margin-left: 5px;
}

/* 
.playicon img {
    margin-top: 8px;
} */


.cta {
    display: flex;
}

.solution {
    display: flex;
    justify-content: space-between;
}

.dashboard {
    /* float: right; */
    position: absolute;
    right: 0;
    margin-top: 30px;
    /* width: 700px; */
}

.section2 {
    background-color: #f9fafb;
    /* margin-top: 500px; */
    margin-bottom: -500px;
}

.empty {
    /* min-height: 200px; */
    /* min-width: 500px; */
    background-color: #3e3e3f;
}

.text-grey {
    color: #063852;
}

.text-grey-100 {
    color: #a9aeb7;
    font-size: 12px;
}

.users {
    margin-left: 100px;
    margin-bottom: 200px;
}

.building {
    margin-left: 200px;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.pop {
    font-size: 15px;
    font-weight: bold;
}


/* reuseable styles */

.text-white {
    color: white;
}

.empty-1 {
    border-radius: 50%;
}

.section3-p-primary {
    color: #fec01f;
    font-size: 11px;
}

.section3-p-discover {
    color: #73a7f3;
}

.btn {
    padding: 5px 10px 5px 10px;
    /* tp right bottom left */
    border-radius: 10px;
    border: 10px;
}

.btn-primary {
    background-color: #2374ee;
    color: white;
}

.btn-text {
    font-size: 10px;
}

.text-size-20px {
    font-size: 20px;
}

.d-flex {
    display: flex;
}

.shadow-sm {
    box-shadow: 1px 4px 1px 1px rgb(183, 222, 245);
}

.text-center {
    text-align: center;
}

.p1 {
    padding: 10px;
}

.p2 {
    padding: 20px;
}

.p3 {
    padding: 30px;
}

.p4 {
    padding: 40px;
}

.p5 {
    padding: 50px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.ml-8 {
    margin-left: 80px;
}

.ml-10 {
    margin-left: 100px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.mr-8 {
    margin-right: 80px;
}

.mr-10 {
    margin-right: 100px;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-basis-70 {
    flex-basis: 70%;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-20 {
    flex-basis: 20%;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container {
    margin: 20px 50px 20px 50px;
}

.grey-box {
    background-color: #d3d5da;
    width: 400px;
    height: 300px;
    border-radius: 30px;
}


.imgschedule {
    width: 400px;
    height: 300px;
}

.section4 {
    background-color: #2374ee;
    height: 300px;
    padding: 20px;
}

.empty-1 {
    background-color: #d3d5da;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}

.card {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
}

/* reusable ends */